:root {
    --primary-color : #11A79B;
    --white-color : #FFF;
    --light-color : #F5FFFE;
    --text-color : #112725;
    --text-color-light : #235853;
    --scrollbar-color : #DBE6E5;
    --shadow-color-dark : rgba(114, 158, 154,0.75)
    --shadow-color-light : rgba(114, 158, 154,0.6)
  }

/*Background Body*/
    body {
      background-color : var(--light-color);
    }
    
    .content-wrapper, .right-side {
      background-color: var(--light-color);
      min-height :100%!important;
    }

/*TiTle Logo */
    .title_logo_shiny_app{
      height:150px; 
      width:100% 
      clear:both;
      background-color: var(--light-color);
    }
    
    .title_logo_viridian_space {
      height : 125px;
      background-color : #FFFFFF;
      box-shadow: 0 5px 20px rgba(114, 158, 154,0.75);
    }
    .title_logo_viridian{
      width : 300px;
        margin-left : 150px;
        padding-top : 30px;
        
    }

/*Setup Page - Fixed Random Setting Box*/
    .info-box{
        display : flex;
        justify-content: space-around; /* x axis */
        align-items : center;
        height : 190px;
        padding : 5%;
    }
    .info-box{
        background-color : white!important;
        border-radius:20px;
        box-shadow: 3px 3px 10px 3px rgba(114, 158, 154,0.6);
        color : var(--text-color-light)!important;
    }
    .info-box.bg-red .info-box-content{
        margin : 0px;
        padding : 0px;
        width : 60%;
        background : white;
    }

    .info-box.bg-red .info-box-icon{
        padding : 0px;
        margin : 0px;
        width : 30%;
        background : white;
    }

    .info-box.bg-red .info-box-icon i{
        width : 100%;
        font-size : 2.3vw;
    }
    
    .info-box.bg-blue .info-box-content{
        margin : 0px;
        padding : 0px;
        width : 60%;
    }

    .info-box.bg-blue .info-box-icon{
        padding : 0px;
        margin : 0px;
        width : 30%;
        background-color : white;
    }

    .info-box.bg-blue .info-box-icon i{
        width : 100%;
        font-size : 4vw;
    }

    .info-box.bg-blue .info-box-container{
        display : flex;
    }

    .info-box.bg-blue .info-box-container.left{
        display : block;
        list-style-type: none;
        padding : 0px;
        margin-right : 10%
    }
    .info-box.bg-blue .info-box-container.right{
        display : block;
        list-style-type: none;
        padding : 0px;
    }


/*Setup Page - Model Selection*/
    .small-box.bg-purple {
        display : flex;
        justify-content: space-around; 
        align-items : center;
        background-color : var(--primary-color)!important;
        color : white!important;
        padding : 5%;
        margin-top :10px;
        min-height :270px;
        border-radius:20px;
        box-shadow: 3px 3px 10px 3px rgba(114, 158, 154,0.6);
    }

    .small-box.bg-purple .inner{
        margin : 0px;
        padding :0px;
        width:60%;
    }

    .small-box.bg-purple .icon-large{
        position : static!important;
        margin : 0px;
        padding : 0px;
        width : 25%;
    }

    .small-box.bg-purple .inner h3{
        white-space: normal;
        font-size : 2vw;
    }

    .small-box.bg-purple .inner p{
        white-space: normal;
        font-size : 1vw;
    }

    .small-box.bg-purple .icon-large i{
        font-size : 8vw;
        color : white!important;
    }


/*All Box*/
    .box {
      margin-top :10px;
      border-color:#FFFFFF;
      border-radius:10px;
      box-shadow: 3px 3px 10px 3px rgba(114, 158, 154,0.6);
      color:var(--text-color);
      height : 680px;
      overflow-y: scroll;
    }

    .box .box-header {
        color:var(--text-color);
        margin : 0px;
        padding-bottom : 0px
    }


/*Action Button */
    .action-button{
      background-color:var(--primary-color);
      color:var(--light-color);
      border-radius:10px;
      transition:0.4s;
      font-size:15px;
    }
    
    
    .action-button:focus{
      background-color:var(--primary-color);
      color:var(--light-color);
    }
    
    .action-button:hover{
      background-color:var(--primary-color);
      color:var(--light-color);
      transform: translateY(-2px);
    }
    
    .action-button:active{
      background-color:var(--primary-color)!important;
      color:var(--light-color)!important;
      transition:0.1s;
    }


/*Setup Page - Review Button*/
    #submit_rx_syntax {
      margin-top : 0px;
    }
    
/* Setup Page - info rx syntax button  */
    #rx_syntax_docs_bttn{
      margin-top :0px;
      margin-right : 7px;
      background-color:#FFFFFF;
      color:var(--primary-color);
      border-color :var(--primary-color);
    }

/*Setup Page - Switch Button*/
    #switch_page_1 {
      margin-top : 15px;
      padding : 10px 20px 10px 20px;
      font-size:17px;
      float : right;
    }

/*Review Page - Switch Button*/
    #switch_page_2 {
      background-color:#FFFFFF;
      color:var(--primary-color);
      float : right;
      border-color :var(--primary-color);
      border-width : 2px;
      font-size : 17px;
      padding : 2px 7px 2px 7px;
      margin-top : 10px;
    }


/*All Wizard*/
    .wizard_prev_next {
      background-color:#FFFFFF;
      color:var(--primary-color);
      float : right;
      border-color :var(--primary-color);
      border-radius:10px;
      transition:0.4s;
      font-size:15px;
      margin-right : 7px;
    }
    
    
    .wizard_prev_next :hover{
      background-color:var(--primary-color);
      color:var(--light-color);
      transform: translateY(-2px);
    }
    
    .wizard_prev_next :active{
      background-color:var(--primary-color)!important;
      color:var(--light-color)!important;
      transition:0.1s;
    }
    
/*Wizard for Setup Page*/
    .wizard_overview_page2 {
      margin-top : 25px;
    }

/*Wizard for Result Page*/
    #resultPage1_ModID-page_10 {
        margin-bottom : 10px;
    }
     #resultPage1_ModID-page_21 {
        margin-bottom : 10px;
    }
     #resultPage1_ModID-page_32 {
        margin-bottom : 10px;
    }

/*Scroll Bar*/
    ::-webkit-scrollbar-thumb {
      background-color: #DBE6E5;
      border: 4px solid transparent;
      border-radius: 8px;
      background-clip: padding-box;  
    }
    
    ::-webkit-scrollbar {
      width: 16px;
    }


/*Result Page Simulation Page*/
    .simulation_list_css p{
      margin: 4px 5px 4px 5px;
      padding : 5px 10px 5px 10px ; 
      font-size : 15px;
      border-width:1px;
      border-radius : 5px; 
      border-style:groove; 
    }
    
    .simulation_list_css p:hover{
      border-style:solid; 
    }

/* verbal */
    .shiny-text-output{
      background-color : #fff;
      border : hidden;
      color : var(--text-color);
    }
    
/* data table */
    .dataTables_wrapper {
      height : 520px;
      overflow-y : scroll;
    }
    
    .datatables table .odd td {
      background-color : rgba(242, 255, 254,.5) !important;
    }
    
    .datatables table .even td {
      background-color : #FFFFFF !important;
    }

    #result_resultPage_box_css .dataTables_wrapper {
      height : 560px;
      overflow-y : scroll;
    }

/*Setup Page Overview Box*/
    /* verbal */
    #overviewPage2_ModID-review{
      background-color : #fff;
      border : hidden;
      overflow-y : scroll;
      height : 510px;
      color : var(--text-color);
    }
    
    #overviewPage2_ModID-graph {
      height : 520px!important;
    }

/* Result Page Plotting Option */
    #plotOption_resultPage_box_css .box {
        height : 200px;
    }

/* Result Page Simulation List */
    #SimList_resultPage_box_css .box {
        height : 200px;
    }

/* Result Page Overview */
    #Overview_resultPage_box_css .box {
        height : 450px;
    }

/* Result Page Result */
    #result_resultPage_box_css .box .box-body{
        padding : 0px 10px 10px 10px;
    }


/* Model Selection Scroll Code */
    #model_selection_code_container {
      height : 550px;
      overflow-y: scroll;   
    }

/* RX Syntax Documentation */
    #rx_syntax_documentation .modal-content {
         height : 900px;
         padding : 10px 40px;
          overflow-y: scroll;  
    }
    

 /* simList */

    #simList_container_css .p_simList_container_css{
        display : inline-block;
        width : 65%;
        margin : 1%
    }

    #simList_container_css p{
        font-size : 15px;
        display : inline-block;
        width : 100%;
        border : solid 0.8px rgba(0,0,0,.2);
        border-radius : 5px;
        margin: 1%;
        padding : 1%;
        padding-left : 5%;
        position : static;
    }

    #simList_container_css .action-button{
        width : 20%;
        background-color: #FFF;
        color : var(--primary-color);
        padding : 0px;
        font-size : 15px;
        padding : 1%;
        margin : 1%;
        border : solid 0.8px var(--primary-color);
        border-radius : 5px;
        position : absolute;
    }

    #simList_container_css .delete_container_css .action-button{
        width : 10%;
        background-color: #FFF;
        color : var(--primary-color);
        padding : 0px;
        font-size : 15px;
        padding : 1%;
        margin : 1%;
        margin-left: 22%;
        border : solid 0.8px var(--primary-color);
        border-radius : 5px;
        position : absolute;
    }

    .delete_container_css{
        position : static;
        display : inline;
    }
    
    .advance_option_css{
        position : absolute;
        bottom : 15px;
        right : 0px;

    }

    .bw_check_container{
        display : inline-block;
        margin-top : 24px;
        margin-right : 10px;

    }
    
    .color_graph_container .form-group.shiny-input-container{
        width : 25%;
        display : inline-block;
        margin-right : 5%;
    }
    
    #download_dataset_css .btn{
        color: var(--primary-color);
        background-color : var(--white-color);
        border-color: var(--primary-color);
        border-radius : 10px;
        font-size : 17px;
        position : absolute;
        bottom  : 15px;
        right : 0px;
    }

    #download_graph_dataset_css .btn{
        color: var(--primary-color);
        background-color : var(--white-color);
        border-color: var(--primary-color);
        border-radius : 10px;
    }
    
    #download_graph_dataset_css {
        position : absolute;
        bottom : 15px;
    }


/*
primary #13BF89

dark #006E4B

accent #00FFAE

grey #527D6F

white #F2FFFB
#FFFFFF


  good UI : 24FFED
11A79B

*/